html {
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

.product-title {
  margin: 1rem 1rem;

  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Lora', Helvetica, Arial, serif;
  color: #111;
}

.header {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  border-bottom: solid 1px #c6c6c6;
}

.header-logo {
  width: 138px;
  height: 10px;
}

.header-logo {
  padding: 0;
  margin: 0;
}

.product-images {
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;

  overflow-y: scroll;
}

.product-image{
  width:300px;
  height:400px;
}

.price-info {
  padding: 1rem 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price {
  margin: 0;

  font-size: 1rem;
  font-weight: normal;
  line-height: 1.19;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  text-transform: none;
}

.product-article {
  margin: 0;
  
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.34;
  font-size: .75rem;
  color: #171717;
}

.product-colour {
  padding: 1rem 1rem 0;
}

.product-colour-description {
  margin: 0;

  line-height: .875rem;
  font-size: .75rem;
  line-height: 1.34;
}

.product-colour-buttons {
  padding: 1rem 0rem 2rem;
  display: flex;
  justify-content: flex-start;
  
  border-bottom: solid 1px #c6c6c6;
}

.product-colour-button {
  height: 40px;
  width: 40px;
  margin-right: 1rem;

  border-radius: 50%;
}

.product-colour-button-black{
  background-color: #232122;
}

.product-colour-button-honey {
  background-color: #cfa880;
}

.product-colour-button-active{
  border: solid 1px #232122;
}

.product-colour-button-inactive{
  border: solid 1px transparent; 
}

.product-activities {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-basis: 2.75rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.product-button {
  padding: 1rem;
  display: block;
  margin-bottom: 1rem;

  font-size: .75rem;
  line-height: .875rem;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  text-transform: uppercase;
  text-align: center;

  border-radius: 2px;
}

.product-size { 
  color: #ffffff;

  border: solid 1px #171717;
  background-color: #171717;
}

.product-store {
  margin-bottom: 1.5rem;

  border: solid 1px #999999;
  background-color: #ffffff;
}

.product-help {
  padding: 0;
  flex-basis: 0;

  line-height: 1.34;
  text-align: left;

  border: none;
  background: none;
}

.product-info {
  padding-top: 2rem;

  border-top: solid 1px #c6c6c6;
}

.product-info+.product-info {
  border-bottom: solid 1px #c6c6c6;
}

.product-info:last-of-type {
  border-bottom: 1px solid #c6c6c6;
}

.product-info-title {
  padding: 0 1rem 2rem;
  display: flex;
  justify-content: space-between;
}

.product-info-title-container {   
  padding: 0;

  background-color: transparent;
  border: none;
}

.product-info-title-text {
  margin: 0;

  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25;
  color: #171717;
}

.product-info-opened:after {
  content: url(../images/triangle.svg);
  transform: rotate(180deg);
}

.product-info-closed:after {
  content: url(../images/triangle.svg);
}

.product-info-content {
  margin: 0 1rem 2rem;
  display: text;

  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  text-align: left;
  line-height: 1.5rem;
}

.product-info-content p,ul,li {
  padding: 0;
  margin: 0;

  list-style: none;
}

.toggle {
  width: 10px;
  height: 10px;
}

.recommendation {
  padding: 1rem;
}

.recommendation-title {
  padding-bottom: .5rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  border-bottom: 1px solid #171717;
}

.recommendation-items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.recommendation-item {
  margin-bottom: 2rem;
  flex-basis: 8.125rem;
  
  text-decoration: none;
}

.recommendation-item-photo {
  width: 130px;
  height: 174px;
  margin: 0;
  vertical-align: middle;
}

.recommendation-item-title {
  margin: .5rem 0;

  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: 1rem;
  line-height: 1.19;
  font-weight: 400;
  color: #171717;
}

.recommendation-item-price {
  margin: 0;

  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: .75rem;
  line-height: 1.17;
  color: #999;
}

.offers {
  padding-left: 1rem;
}

.offers-title {
  padding-bottom: .5rem;
  display: inline-block;
  margin: 0;
  
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.19;
  color: #171717;

  border-bottom: 1px solid #171717;
}

.offers-items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.offers-item {
  display: block;
  margin-bottom: 1rem;

  font-weight: 400;
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  text-decoration: none;
  font-style: italic;
  line-height: 1.22;
  color: #171717;
}

.footer {
  padding: 2rem 1rem 1.625rem;
  margin-top: 3rem;
  
  background-color: #f3f3f3;
}

.footer-button {
  padding: 0;
  display: block;
  margin-bottom: 1rem;

  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.34;
  color: #999999;

  border: none;
  background-color: #f3f3f3;
}

.footer-help-info {
  margin-top: 1.5rem;
  margin-bottom: 1rem;

  text-align: center;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19;
}

.footer-contact-info {
  display: block;
  margin-bottom: 2rem;

  text-decoration: none;
  text-align: center;
  line-height: 1.22;
  font-weight: 400;
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  font-style: italic;
  color: #171717;
}
