html {
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased;
}

/*
Header
*/

.header {
  display: flex;
  padding: 1rem;
  justify-content: center;
  align-items: center;

  border-bottom: solid 1px #c6c6c6;
}

@media (min-width: 48rem){
  .header{
    padding: 1.5rem;
  }
}

/*
Product title
*/

.product-title {
  margin: 1rem .5rem;

  font-size: 1.25rem;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Lora', Helvetica, Arial, serif;
  color: #111;
}

@media (min-width: 48rem){
  .product-title{
    margin: 1.5rem 0;

    font-size: 1.5rem;
    line-height: 1.17;
  }
}

/*
Product gallery
*/

.product-gallery {
  display: flex;
  margin: 0 -1rem;
  overflow-x: scroll;
}

.product-gallery-photo{
  display: block;
  flex-shrink: 0;
  width: auto;
  height: 400px;

  object-fit: contain;;
}

 @media (min-width: 48rem){
  .product-gallery{
    margin:0;
  }

  .product-gallery-photo{
    height: 576px;
  }
} 

/*
Product price section
*/

.product-price {
  padding: 1rem .5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-price-value {
  margin: 0;

  font-size: 1rem;
  font-weight: normal;
  line-height: 1.19;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  text-transform: none;
}

.product-price-article {
  margin: 0;
  
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.34;
  font-size: .75rem;
  color: #171717;
}

 @media (min-width: 48rem){

  .product-price {
    padding:0rem;
  }
} 

/*
Product colour section
*/

.product-colour {
  padding: 1rem .5rem 0;
}

.product-colour-name {
  margin: 0;

  line-height: .875rem;
  font-size: .75rem;
  line-height: 1.34;
}

.product-colour-buttons {
  padding: 1rem 0rem 2rem;
  display: flex;
  justify-content: flex-start;
  
  border-bottom: solid 1px #c6c6c6;
}

.product-colour-button {
  height: 40px;
  width: 40px;
  margin-right: 1rem;

  border-radius: 50%;
}

.product-colour-button-black{
  background-color: #232122;
}

.product-colour-button-honey {
  background-color: #cfa880;
}

.product-colour-button-active{
  border: solid 1px #232122;
}

.product-colour-button-inactive{
  border: solid 1px transparent; 
}

@media (min-width: 48rem){
  .product-colour {
    padding: 1rem 0rem 0rem;
  }
}

/*
Product activity section
*/

.product-activity {
  padding: 1rem .5rem;
  display: flex;
  flex-direction: column;
  flex-basis: 2.75rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.product-activity-button {
  padding: .9375rem .9375rem;
  display: block;
  margin-bottom: 1rem;

  font-size: .75rem;
  line-height: 1rem;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  text-transform: uppercase;

  border-radius: 2px;
}

.product-activity-size { 
  color: #ffffff;

  border: solid 1px #171717;
  background-color: #171717;
}

.product-activity-store {
  margin-bottom: 1.5rem;

  border: solid 1px #999999;
  background-color: #ffffff;
}

.product-activity-help {
  padding: 0;
  flex-basis: 0;

  line-height: 1.34;
  text-align: left;

  border: none;
  background: none;
}

@media (min-width: 48rem){
  .product-activity{
    padding-left: 0;
    padding-right: 0;
  }
}

/*
Product info section
*/

.product-info {
  padding: 2rem 0.5rem 0rem;

  border-top: solid 1px #c6c6c6;
}

.product-info+.product-info {
  border-bottom: solid 1px #c6c6c6;
}

.product-info-shipping{
    border-bottom: 1px solid #c6c6c6;
}

.product-info-title {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
}

.product-info-title-button {   
  padding: 0;

  background-color: transparent;
  border: none;
}

.product-info-title-text {
  margin: 0;

  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.25;
  color: #171717;
}

.product-info-opened:after {
  content: url(../images/triangle.svg);
  transform: rotate(180deg);
}

.product-info-closed:after {
  content: url(../images/triangle.svg);
}

.product-info-content {
  margin-bottom: 2rem;
  display: text;

  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  text-align: left;
  line-height: 1.5rem;
}

.product-info-content p,ul,li {
  padding: 0;
  margin: 0;

  list-style: none;
}

@media (min-width:48rem){
  .product-info{
    padding:1.5rem 0rem;
    border: none;
  }

  .product-info-title{
    margin-bottom: 1rem;
  }

  .product-info-content{
    margin-bottom: 0;
  }

  .product-info-opened:after {
    display: none;
  }

  .product-info-closed:after {
    display: none;
  }

  .product-info-shipping{
    display: none;
  }
}

.toggle {
  width: 10px;
  height: 10px;
}

/*

Delivery section

*/

.delivery {
    display: none;
}

@media (min-width: 48rem){
  .delivery{
    display: block;

    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    color: #171717;
  }

  .delivery-photo {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }

  .delivery-title{
    margin: 0;

    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
    
  }

  .delivery-description{
    margin-top:1rem;
  }

  .delivery-description-item{
    margin-bottom: 1.5rem;
  }

  .delivery-description-item-title{
    margin:0;
    margin-bottom: .25rem;

    font-size: .75rem;
    font-weight: bold;
    line-height: .875rem;
  }

  .delivery-description-item-text{
    margin:0;

    font-size: .75rem;
    line-height: 1rem;
  }

}

/*

Recommendation section

*/

.recommendation {
  padding: 1rem .5rem;
}

.recommendation-title {
  padding-bottom: .5rem;
  display: inline-block;
  margin-bottom: 1.5rem;
  margin-top: 2rem;
  
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;

  border-bottom: 1px solid #171717;
}

.recommendation-product {
  display: block;
  
  text-decoration: none;
}

.recommendation-product-photo {
  margin: 0;
  display: block;
  width:100%;
}

.recommendation-product-title {
  margin: .5rem 0;

  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: 1rem;
  line-height: 1.19;
  font-weight: 400;
  color: #171717;
}

.recommendation-product-price {
  margin: 0 0 2rem;

  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: .75rem;
  line-height: 1.17;
  color: #999;
}

@media (min-width: 48rem){
  .recommendation{
    padding:0;
    padding-top: 1.5rem;
  }
  .recommendation-title{
    margin: 0;
    margin-bottom: 1rem;
  }

  .recommendation-product{
    flex-basis: 11rem;
    margin-bottom: 0;
  }

  .recommendation-product-price {
    margin: 0;

    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: .75rem;
    line-height: 1.17;
    color: #999;
  }

  .recommendation-product-photo {
    width: 100%;
    height: auto;
    vertical-align: middle;
  }
}

/*

Offers section

*/

.offers {
  padding-left: 1rem;
}

.offers-title {
  padding-bottom: .5rem;
  display: inline-block;
  margin: 0;
  
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  line-height: 1.19;
  color: #171717;

  border-bottom: 1px solid #171717;
}

.offers-links {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-top: 1.5rem;
}

.offers-link {
  display: block;
  margin-bottom: 1rem;

  font-weight: 400;
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  text-decoration: none;
  font-style: italic;
  line-height: 1.22;
  color: #171717;
}

@media (min-width:48rem){
  .offers{
    display: none;
  }
}

/*

Footer section

*/

.footer {
  padding: 2rem 1rem 1.625rem;
  margin-top: 3rem;
  
  background-color: #f3f3f3;
}

.footer-menu{
  display: none;
}

 .footer-button {
  padding: 0;
  display: block;
  margin-bottom: 1rem;

  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-weight: 400;
  font-size: .75rem;
  line-height: 1.34;
  color: #999999;

  border: none;
  background-color: #f3f3f3;
} 

.footer-help-info {
  margin-top: .5rem;
  margin-bottom: 1rem;

  text-align: center;
  font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.19;
}

.footer-contact-info {
  display: block;
  margin-bottom: 2rem;

  text-decoration: none;
  text-align: center;
  line-height: 1.22;
  font-weight: 400;
  font-family: 'Lora', Helvetica, Arial, serif;
  font-size: .875rem;
  font-style: italic;
  color: #171717;
}

@media (min-width:48rem){
  .footer{
    padding: 2rem 0 0;
    margin-top: 4rem;
  }

  .footer-menu{
    display: block;
    margin-bottom: 2rem;
  }

  .footer-menu-title{
    margin: 0;
    margin-bottom:1rem;

    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: .75rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: .875rem;
    color: #171717;
  }

  .footer-nav{
    list-style: none;
  }

  .footer-nav-link{
    display: block;
    margin-bottom: .75rem;

    text-decoration: none;
    font-family: 'Raleway', 'Helvetica Neue', 'Arial', sans-serif;
    font-size: .75rem;
    font-weight: 600;
    line-height: 1.34;
    color: #999999;
  }

  .footer-buttons{
    display: flex;
  }

  .footer-button{
    margin-right: 1.5rem;
  }

  .footer-help-info{
    display: none;
  }

  .footer-contact-info{
    display: none;
  }
}
